@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

.wrapper {
  position: relative;
  background: url('./img/background.jfif') no-repeat top center, url('./img/backgroundbotton.jfif') center bottom 230px no-repeat;
  background-color: #001821;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.head {
  padding-top: 30px;
  margin-bottom: 125px;
}

.logo {
  display: inline-block;
  margin-right: 74px;
}

.head__logo {
  display: inline-block;
  width: 85px;
  height: 36px;
}

.head__menu {
  display: inline-block;
  position: relative;
  top: -10px;
}

.head__list {
  display: inline-block;
  margin-right: 50px;
  margin-top: 22px;
}

.head__list>a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.head__list>a:hover {
  color: #DA0100;
}

.contacts {
  position: absolute;
  right: 0;
  top: 0;
}

.head__base {
  display: inline-block;
  margin: 0px auto;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}

.head__graph {
  width: max-content;
  margin-left: 96px;
  margin-top: -10px;
}

.head__graph .head__base:hover {
  text-decoration: underline;
  color: #fff;
}

.head__telephone {
  display: inline-block;
  height: 35px;
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
}

.head__number {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}


.main__header {
  width: 511px;
  margin-bottom: 26px;
  font-size: 72px;
  font-weight: bold;
  font-style: normal;
  color: #fff;
}

.main__signature {
  margin-bottom: 31px;
  font-size: 18px;
  color: #fff;
}

.main__button {
  display: inline-block;
  width: 168px;
  height: 55px;
  top: 278px;
  margin-bottom: 216px;
  border: 0px;
  border-radius: 35px;
  padding: 18px 40px;
  background-color: #F5170E;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

}

.main__body .main__button:hover {
  cursor: pointer;
  text-decoration: none;
  text-decoration: underline;
  color: #fff;
}

.main__body .main__button:active {
  background-color: #DA0100;
  box-shadow: 0 2px 4px 0 rgb(218, 1, 0, 0.3);
}

.main__button_white {
  margin-bottom: 0px;
  width: 135px;
  height: 55px;
  padding: 18px 30px;
  color: #F5170E;
  background-color: #fff;
  border: 1px solid #F5170E;
  transition: .3s;
}

.main__button_white:hover {
  background: #F5170E;
  color: #fff;
}

.main__head {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

.main__form {
  margin-bottom: 93px;
  display: inline-block;
  background-color: #fff;
  width: 362px;
  min-height: 305px;
  border-radius: 5px;
  margin-right: 22px;
  overflow: hidden;

}

.main__form:last-child {
  margin-right: 0;
}

.main__content {
  min-height: 305px;
  padding: 11px 20px;
}

.main__subtitle {
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.36;
  color: #000000;
}

.main__text {
  margin-bottom: 23px;
  margin-top: 26px;
  color: #303030;
  font-size: 14px;
  line-height: 1.5;
}

.main__icon {
  margin-left: 14px;
  margin-bottom: -3px;
}

.main__pic {
  height: 144px;
}

.main__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tours__icon {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: -7px;
}

.tours__description {
  margin-right: 17px;
  font-size: 16px;
  color: #666666;
  font-weight: normal;
  line-height: 1.36;
}

.news__form {
  margin-bottom: 38px;
}

.news__list {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 557px;
  min-height: 394px;
  margin-right: 20px;
  overflow: hidden;
}

.news__list:last-child {
  margin-right: 0;
}

.news__pic {
  height: 394px;
}

.news__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;

}

.news__content {
  display: inline-block;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  padding: 18px 28px;
  min-height: 140px;
  font-size: 14px;
  font-weight: normal;
  color: #fff
}

.news__month {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
}

.news__year {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
}

.news__header {
  margin-bottom: 0px;
  margin-top: 12px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
}

.news__body {
  margin-bottom: 4px;
  min-height: 49px;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

.news__page {
  margin-bottom: 130px;
  text-align: center;
}

.news__info,
.news__text {
  display: inline-block;
  vertical-align: middle;
}

.news__info {
  margin: 20px;
  color: #fff;
}

.news__text>li {
  list-style-type: none;
}

.news__current {
  display: inline-block;
  vertical-align: middle;
}

.news__value {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  color: #fff;
}

.news__value:hover {
  text-decoration: none;
  background: #fff;
  color: #F5170E;
  transition: .3s;
}

.about__body {
  position: relative;
  min-height: 455px;
  min-width: 490px;
  margin-bottom: 102px;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.about__gates {
  width: 490px;
  height: 505px;
}

.about__mountains {
  position: absolute;
  height: 455px;
  left: 354px;
  top: 97px;
}

.about__form {
  position: absolute;
  left: 435px;
  top: 167px;
}

.about__form>li {
  list-style-type: none;
}

.about__head {
  font-size: 36px;
  font-weight: bold;

  margin: 0px 0px 37px 0px;
}

.about__text {
  max-width: 500px;
  min-height: 132px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6875;
  margin-bottom: 43px;
  color: #060606;
}

.about__body .main__button:hover {
  cursor: pointer;
  text-decoration: none;
  text-decoration: underline;
  color: #fff;
}

.about__body .main__button:active {
  background-color: #DA0100;
  box-shadow: 0 2px 4px 0 rgb(218, 1, 0, 0.3);
}

.footer__body {
  position: relative;
  height: 165px;
}

.footer__base {
  position: absolute;
  right: 265px;
  top: 3px;
  list-style-type: none;
}

.footer__network {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.footer__network:last-child {
  margin-right: 0px;
}

.contacts_footer {
  position: absolute;
  top: -6px;
}

.footer__img:hover {
  filter: brightness(1.8);

}

.head__base_footer {
  color: #9A9A9A;
  min-height: 20px;
  font-size: 11px;
}

.head__number_footer {
  position: absolute;
  right: 0;
}

.container_footer {
  padding-top: 47px;
  border-top: 1px solid rgb(255, 255, 255, 0.1);
}