.partner__row {
  display: flex;
}

.partner {
  padding-top: 85px;
  padding-bottom: 30px;
  background-color: #F4F5F5;
}

.partner__head {
  font-size: 48px;
  line-height: 65px;
  font-weight: bold;
  color: #1A1B1E;
  margin: 0 0 85px 0;
}

.partner__block {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 auto;
}

.partner__block:nth-child(4n+4) {
  flex-wrap: nowrap;
  margin-right: 0px;
}


.partner__link {
  align-self: center;
}

.partner__emblem {
  display: flex;
  margin-right: 25px;
  margin-bottom: 75px;
}

.partner__avia {
flex: 0 0 300px;
}

.partner__img {
  filter: grayscale(100%);
  max-width: 100%;
  max-height: 67px;
  object-fit: cover;
  object-position: center;
}

.partner__img:hover {
  filter:none;
}